name: Lint and test
true:
  pull_request: null
  push:
    branches:
    - main
jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '20'
        cache: npm
    - run: 'npm install ci

        '
    - name: Checking lint/format errors
      run: 'npm run lint

        '
    - name: Checking type errors
      run: 'npm run check

        '
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '20'
        cache: npm
    - run: 'npm ci

        npx playwright install

        '
    - name: Tests
      run: 'npm run test

        '
  build-check:
    runs-on:
      group: aws-general-8-plus
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v3
    - name: Build Docker image
      run: "docker build \\\n  --build-arg INCLUDE_DB=true \\\n  -t chat-ui-test:latest\
        \ .\n"
    - name: Run Docker container
      run: "export DOTENV_LOCAL=$(<.env.ci)\ndocker run -d --rm --network=host \\\n\
        \  --name chat-ui-test \\\n  -e DOTENV_LOCAL=\"$DOTENV_LOCAL\" \\\n  chat-ui-test:latest\n"
    - name: Wait for server to start
      run: "for i in {1..10}; do\n  if curl -s -o /dev/null -w \"%{http_code}\" http://localhost:3000/\
        \ | grep -q \"200\"; then\n    echo \"Server is up\"\n    exit 0\n  fi\n \
        \ echo \"Waiting for server...\"\n  sleep 2\ndone\necho \"Server did not start\
        \ in time\"\ndocker logs chat-ui-test\nexit 1\n"
    - name: Stop Docker container
      if: always()
      run: 'docker stop chat-ui-test || true

        '
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
  issues: read
  pull-requests: read
